.app {
  font-family: sans-serif;
  min-width: 300px;
  max-width: 1000px;
  margin: 50px auto;
}

.app pre {
  padding: 9px;
  border-radius: 4px;
  background-color: black;
  color: #eee;
}

.flex-aligned-center {
  display: flex;
  align-items: center;
}

.ui-button {
  margin: 1rem;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
